<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title></title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://htmlstream.com/preview/space-v1.1/favicon.ico">

    <!-- Google Fonts -->
    <link href="fonts.googleapis.com/css7dfd.css?family=Roboto:300,400,500" rel="stylesheet">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.1/assets/vendor/bootstrap/css/bootstrap.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.1/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet"
        href="https://htmlstream.com/preview/space-v1.1/assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet"
        href="https://htmlstream.com/preview/space-v1.1/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet"
        href="https://htmlstream.com/preview/space-v1.1/assets/vendor/custombox/dist/custombox.min.css">
    <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.1/assets/vendor/animate.css/animate.min.css">

    <!-- CSS Space Template -->
    <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.1/assets/css/theme.css">
</head>

<body>



    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- Hero Section -->
        <div class="container d-flex justify-content-center">
            <div class="row space-3-top w-50 ">
                <div class="col">
                    <h1 class="text-center">Admin</h1>
                    <form action="/admin-signin" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary ">Login</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </main>
    <!-- ========== END MAIN CONTENT ========== -->





    <!-- JS Global Compulsory -->
    <script src="https://htmlstream.com/preview/space-v1.1/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script
        src="https://htmlstream.com/preview/space-v1.1/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="https://htmlstream.com/preview/space-v1.1/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://htmlstream.com/preview/space-v1.1/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="https://htmlstream.com/preview/space-v1.1/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script
        src="https://htmlstream.com/preview/space-v1.1/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script
        src="https://htmlstream.com/preview/space-v1.1/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://htmlstream.com/preview/space-v1.1/assets/vendor/custombox/dist/custombox.min.js"></script>
    <script
        src="https://htmlstream.com/preview/space-v1.1/assets/vendor/custombox/dist/custombox.legacy.min.js"></script>

    <!-- JS Space -->
    <script src="https://htmlstream.com/preview/space-v1.1/assets/js/hs.core.js"></script>
    <script src="https://htmlstream.com/preview/space-v1.1/assets/js/components/hs.header.js"></script>
    <script src="https://htmlstream.com/preview/space-v1.1/assets/js/components/hs.unfold.js"></script>
    <script src="https://htmlstream.com/preview/space-v1.1/assets/js/components/hs.validation.js"></script>
    <script src="https://htmlstream.com/preview/space-v1.1/assets/js/helpers/hs.focus-state.js"></script>
    <script src="https://htmlstream.com/preview/space-v1.1/assets/js/components/hs.malihu-scrollbar.js"></script>
    <script src="https://htmlstream.com/preview/space-v1.1/assets/js/components/hs.modal-window.js"></script>
    <script src="https://htmlstream.com/preview/space-v1.1/assets/js/components/hs.show-animation.js"></script>
    <script src="https://htmlstream.com/preview/space-v1.1/assets/js/components/hs.go-to.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(window).on('load', function () {
            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991,
                hideTimeOut: 0
            });
        });

        $(document).on('ready', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#header'));

            // initialization of unfold component
            $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                afterOpen: function () {
                    if (!$('body').hasClass('IE11')) {
                        $(this).find('input[type="search"]').focus();
                    }
                }
            });

            // initialization of form validation
            $.HSCore.components.HSValidation.init('.js-validate', {
                rules: {
                    confirmPassword: {
                        equalTo: '#password'
                    }
                }
            });

            // initialization of forms
            $.HSCore.helpers.HSFocusState.init();

            // initialization of malihu scrollbar
            $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

            // initialization of autonomous popups
            $.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-signup-modal', {
                autonomous: true
            });

            // initialization of show animations
            $.HSCore.components.HSShowAnimation.init('.js-animation-link');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');
        });
    </script>
</body>

</html>